@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #f4f4f4;
}

h1, td, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

table {
    width: 100%;
    margin-top: 20px;
}

td, th {
    padding: 10px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ecf0f1;
}

thead td {
    font-size: 18px;
    background-color: rgb(255, 233, 249);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
}

#searchInput {
    width: 98%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchInput::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#searchInput:focus {
    box-shadow: 0 0 5px rgba(157, 157, 157, 0.5);
    outline: none;
}




